/* ------UC-1 ----*/
body {
    margin: 0;
    height: 100%;
}

.header {
    padding: 15px 0;
    background-color: white;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}
error-output{
    margin-left: 10px;
    font-size: 12px;
    font-style: italic;
    color: red;
}
@media only screen and  (max-width: 960px) {
    .cancelButton{
        margin-left: 0px;
    }
    .form {
        width: 85%;
        padding: 44px 20px;
    }
}

@media only screen and  (max-width: 600px){
    .form {
        margin-top: 10px;
}
.row{
    flex-direction: column;
}
.uploadButton{
    justify-content: flex-start;
}
.profile-radio-button{
    flex-flow: wrap;
}
.submit-reset{
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 20px;
}
.submitButton{
    margin: 0;
}
.buttonParent{
    flex-direction: column-reverse;
    align-items: flex-start;
}
}    


.logo-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid green;
    width: 80%;
}